<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ax.apps.cms.dao.extend.BaseUserExtendMapper">

  <select id="selectAll" resultMap="BaseUserExtendResultMap">
    select * from base_user
  </select>
  <select id="selectById" parameterType="long" resultMap="BaseUserExtendResultMap">
    select * from  base_user
    where id=#{id}
  </select>
  <resultMap id="BaseUserExtendResultMap"
             type="com.ax.apps.cms.bean.extend.BaseUserExtend"
              extends="com.ax.apps.cms.dao.BaseUserMapper.BaseResultMap"
  >
    <collection property="roles" column="id" select="com.ax.apps.cms.dao.extend.BaseRoleExtendMapper.selectByUserId"/>

  </resultMap>

</mapper>